*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
  --roboto:'Roboto', sans-serif;
  --nunito: 'Nunito', sans-serif;
  --back:linear-gradient(90deg, rgba(228,101,101,1) 0%, rgba(158,105,255,1) 100%);
 --light-violet:#EBDEF0;
  --dark-gray:rgba(0, 0, 0, 0.2);
  --dark-gray2:rgba(0, 0, 0, 0.4);
  --light-gray:rgba(0, 0, 0, 0.09);
  --light-gray2:#D0D0D0;
}

body{
  background: var(--back);
  color: var(--light-violet);
}
.ham{
  cursor:pointer;
  border:none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top:15px;
  right: 25px;
}
.ham span{
  display: block;
  background-color:var(--light-violet);
  height: 3px;
  width: 28px;
  margin: 10px auto;
  border-radius: 2px;
}
.enlaces-menu{
  display: flex;
  padding:0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  margin:0;
  padding: 0;
  width: 100%;
  display: none;
  font-family: var(--nunito);
}
.enlaces-menu li{
  padding: 0 40px;
  list-style-type: none;
  transition: 0.3s;
}
.enlaces-menu li a{
   color: var(--color-menu);
   text-decoration: none;
   font-size: 16px;
   font-weight: 600;
}
.enlaces-menu li:hover{
  background:var(--violet-details);
}
.enlaces-menu li{
  width: 100%;
  text-align: center;
  padding: 20px;
}
.enlaces-menu.activado{
  display: flex;
}
.wrapper{
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 515px;
  margin-block-start: 20px;
  font-family: var(--roboto);
}
.wrapper-content{
  width: 90%;
  height: 360px;
  min-width: 250px;
  max-width: 900px;
  margin:0 auto;
  background: var(--light-gray);
  border-radius: 12px;
  margin-block-start: 20px;
}
label{
  display:block;
  margin:0 auto;
  font-weight: bold;
  margin-block: 20px;
  text-align: center;
}
input{
  display: block;
  width: 200px;
  height: 28px;
  margin:0 auto;
  background: var(--dark-gray );
  border:none;
  border-radius: 3px;
  padding-inline: 5px;
  margin-block-start: 27px;
  color:var(--light-violet);
}
::placeholder { color:var(--light-gray2)}

.button-content{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 200px;
  height: 30px;
  border-radius: 2px;
  border:none;
  margin-block: 27px;
  background: var(--light-gray);
  color:var(--light-violet);
}
.button-content:hover{
  background: var(--dark-gray2);
}
.answer_container{
  width:80%;
  min-height: 100px;
  margin: auto;
  border-radius: 5px;
  background: var(--light-gray);
}
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background: var(--light-gray);
   font-family: var(--roboto);
   font-size: 12px;
}
p{
 padding-block: 10px;
 padding-inline: 6px;
 font-size: 14px;
 font-weight: bold;
}

